/* universal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.btn-primary {
    background: #FF900E;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.btn-secondary {
    padding: 35px 30px;
    background: #FF900E;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.span-one {
    color: #727272;
}

.span-two {
    color: #FF900E;
}

body {
    background: aliceblue;
}

/* header styles */
.header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.nav-container h2 {
    font-size: 45px;
    font-weight: 700;
}

.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 40px;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* banner starts */
.banner {
    text-align: center;
}

.banner-text {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.banner-text-title {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-text-description {
    color: #727272;
    margin-bottom: 30px;
}

.banner-image img {
    width: 100%;
}

/* company features starts */
.company-features {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 130px;
    display: flex;
    gap: 70px;
    align-items: center;
    width: 100%;
    max-width: 1050px;
}

.features-image {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.features-image img {
    width: 100%;
}

.features-text {
    width: 50%;
}

.features-text .feature-text-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 25px;
}

.feature-text-description {
    color: #727272;
    margin-bottom: 30px;
}

/* customer features styles */
.second-section {
    margin-bottom: 100px;
    position: relative;
}

.customer-features {
    display: flex;
    gap: 145px;
}

.customer-features-text,
.customer-features-image {
    width: 50%;
}

.heading-text .heading-text-title {
    font-size: 45px;
    font-weight: 700;
    padding-left: 20px;
    border-left: 5px solid #FF900E;
    margin-bottom: 25px;
}

.heading-text .heading-text-description {
    margin-bottom: 30px;
}

.heading-text .heading-text-description,
.under-text-description,
.section-text-description {
    color: #727272;
}

.customer-features .under-text-item {
    background: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.under-text-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.customer-features-image img {
    width: 100%;
}

.second-btn {
    position: absolute;
    left: 500px;
    bottom: 100px;
}

.second-btn h1 {
    font-size: 50px;
    font-weight: 700;
}

.second-btn p {
    font-size: 20px;
    font-weight: 500;
}

/* third section styles */

.third-section .section-text {
    margin-bottom: 100px;
    width: 50%;
}

.section-text .section-text-title,
.section-text-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.icon-items {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin-bottom: 100px;
}

.icon-items>.icon-item {
    flex: 1;
}

.icon-item {
    padding: 35px 45px;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: transform 1s ease;
}

.icon-item:hover {
    transform: scale(1.25);
    background: #FF900E;
    border: 1px solid #424242;
    ;
}

.icon-item h1 {
    font-size: 45px;
    font-weight: 600;
    color: #424242;
    margin-bottom: 5px;
}

.icon-item p {
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}

/* middle section starts */
.middle-section {
    display: flex;
    margin-bottom: 100px;
    align-items: center;
}

.middle-section>div {
    flex: 1;
}

.middle-section .middle-section-image {
    width: 50%;
}

.middle-section-image img {
    border-radius: 8px;
}

.middle-section .section-text-description {
    margin-bottom: 30px;
}

/* fourth section styles */
.fourth-section {
    margin-bottom: 100px;
}

.fourth-section .section-text {
    text-align: center;
    margin-bottom: 50px;
}

.sponsors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: grayscale(1);
}

.sponsors img {
    height: 50px;
}

/* footer starts */
.footer {
    padding: 40px 0;
    text-align: center;
    background: #FFF4E7;
    border-radius: 8px;
}

.end {
    font-size: 20px;
    color: #424242;
}

/* responsive styles */
@media only screen and (max-width: 576px) {
    .header {
        padding: 20px 15px;
    }

    .nav,
    .nav ul,
    .company-features,
    .customer-features,
    .icon-items,
    .middle-section,
    .sponsors {
        flex-direction: column;
        gap: 20px;
    }

    .nav {
        margin-bottom: 50px;
    }

    .company-features {
        margin-bottom: 100px;
    }

    .company-features .features-text,
    .section-text,
    .middle-section {
        width: 100%;
        padding: 0 15px;
    }

    .company-features,
    .features-image {
        grid-template-columns: repeat(1, 1fr);
    }

    .customer-features>div {
        width: 100%;
        padding: 0 15px;
    }

    .second-btn {
        position: relative;
        left: 0;
        bottom: 0;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .third-section .section-text {
        margin-bottom: 100px;
        width: 100%;
    }

    .third-section .section-text,
    .sponsors {
        margin-bottom: 50px;
    }

    .icon-item {
        align-self: center;
        width: 50%;
        padding: 35px 0px;
    }

    .middle-section-image {
        align-self: flex-start;
    }

    .middle-section .middle-section-image img {
        width: 200%;
    }
}